header {
  background-color: rgb(182, 179, 179);
}
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: rgb(50, 50, 161);
}
nav {
  display: block;
  text-align: center;
}
img {
  display: none;
}
a {
  color: black;
  background-color: rgb(53, 175, 75);
}

section {
  background-color: darkgray;
}

h1,
h2 {
  text-transform: uppercase;
}
