body {
  background: linear-gradient(
    0deg,
    rgba(185, 185, 185, 1) 0%,
    rgba(175, 174, 172, 1) 27%,
    rgba(113, 105, 92, 1) 100%
  );
}
header,
footer {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

header {
  text-align: center;
}
header h1 {
  display: inline-block;
  color: white;
  margin-top: 20px;
}

nav a {
  display: inline-block;
  font-size: 30px;
  background-color: white;
  color: black;
  padding: 0.5%;
  margin: 1%;
}
.half {
  width: 45%;
  display: block;
  margin-right: 2%;
  float: left;
}

h2 {
  color: #666666;
  background-color: #00b7ea;
}

.whole {
  clear: both;
}
