.ahmad1 {
  display: block;
  background-color: red;
  padding: 100px;
  width: 75%;
  height: 50px;
  margin: 10px;
}

.ahmad2 {
  display: inline;
  background-color: blue; /* inline doesn't respect padding or width or anything */
  padding: 100px;
  width: 50%;
  height: 50px;
  margin: 10px;
}

.ahmad3 {
  display: inline-block;
  background-color: green;
  padding: 50px;
  width: 75%;
  height: 50px;
  margin: 10px;
}
