header,
footer {
  background-color: darkgray;
  text-align: center;
}
h1 {
  color: red;
}

nav {
  background-color: lightgray;
  font-size: 150%;
}
h2 {
  background-color: lightskyblue;
}

details {
  font-style: italic;
}

summary {
  font-style: normal;
}
